{% load i18n %}
{% autoescape off %}
{% blocktrans %}Hello {{ username }},{% endblocktrans %}

{% trans "Thank you for registering with Iași Cazare!" %}

{% trans "Please click the link below to verify your email address and activate your account:" %}

{{ activation_link }}

{% trans "This link will expire in 24 hours." %}

{% trans "If you didn't create an account with Iași Cazare, please ignore this email." %}

{% trans "Best regards," %}
{% trans "The Iași Cazare Team" %}

---
{% trans "This is an automated message. Please do not reply to this email." %}
{% endautoescape %}